:root {
  --font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo,
    sans-serif;
  --line-height: 1.5;
}

body {
  font-family: var(--font-family);
  line-height: var(--line-height);
}

.super-icon {
  width: 21px;
  height: 20px;
  background-size: 144px 101px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  margin-right: 2px;
  scale: 0.9;
}

.super-icon.official {
  width: 20px;
  background-image: url(http://192.168.11.10/assets/line_svg_sprite.svg);
  background-position: -62px -76px;
}

.super-icon.sp {
  background-image: url(http://192.168.11.10/assets/line_svg_sprite.svg);
  background-position: -33px -76px;
}

.openchat-stats-wrapper.positive  {
  color: #00a849;
}

.openchat-stats-wrapper.negative  {
  color: #b71c1c;
}
